.test
{
    background-color:red;
    font-size: xx-large;
    color: white;
}
.textbook p {
    background: brown;
}
.textbook p.author{
    background: yellow;
}
#name{
    background: #ccccff;
    color:blue;
    text-align: center;
    font-weight: bold;
}